registry=https://registry.npmjs.org/
replace-registry-host=never
@paqsuite:registry=https://npm.cloudsmith.io/paqsystems/paqsuite-sdk/
//npm.cloudsmith.io/paqsystems/paqsuite-sdk/:_authToken=${CLOUDSMITH_READ_TOKEN}
